* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
  /* CSS Smooth Scroll */
  overflow: hidden;
}

body .container {
  /* CSS Smooth Scroll -> width & height must be set or it won't work*/
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body .container nav {
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  background-color: white;
}

body .container nav .logo {
  margin-right: 150px;
}

body .container nav .logo:hover {
  cursor: pointer;
}

body .container nav .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
}

body .container nav .logo a i.fas {
  color: yellowgreen;
}

body .container nav .logo a p {
  font-size: 1.8rem;
  margin-left: 10px;
}

body .container nav .logo a p span {
  color: yellowgreen;
  font-weight: bold;
  font-style: oblique;
}

body .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container nav ul li {
  list-style: none;
}

body .container nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: gray;
}

body .container nav ul li a:hover {
  border-bottom: 1px solid yellowgreen;
  color: yellowgreen;
}

body .container nav .account {
  margin-left: 200px;
}

body .container nav .account button {
  font-size: 1.2rem;
  padding: 0.25rem 1rem;
}

body .container nav .account .login {
  border: none;
  background-color: lightgray;
}

body .container nav .account .login:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

body .container nav .account .signup {
  background-color: yellowgreen;
  color: white;
  margin-left: 10px;
  border: none;
}

body .container nav .account .signup:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

body .container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */