@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Big Shoulders Stencil Display', cursive;
  background-color: #699bc4;
  /* CSS Smooth Scroll */
  overflow: hidden;
}

body .container {
  /* CSS Smooth Scroll -> width & height must be set or it won't work*/
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body .container section {
  width: 100%;
  height: 100vh;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  background-color: white;
}

nav .logo {
  margin-right: 150px;
}

nav .logo:hover {
  cursor: pointer;
}

nav .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
}

nav .logo a i.fas {
  color: yellowgreen;
}

nav .logo a p {
  font-size: 2.2rem;
  margin-left: 10px;
}

nav .logo a p span {
  color: yellowgreen;
  font-weight: bold;
  font-style: oblique;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: gray;
}

nav ul li a:hover {
  border-bottom: 1px solid yellowgreen;
  color: yellowgreen;
}

nav .account {
  margin-left: 200px;
}

nav .account button {
  font-size: 1.2rem;
  padding: 0.25rem 1rem;
}

nav .account .login {
  border: none;
  background-color: lightgray;
}

nav .account .login:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

nav .account .signup {
  background-color: yellowgreen;
  color: white;
  margin-left: 10px;
  border: none;
}

nav .account .signup:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#home {
  background-image: url(../img/right.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .bottom-overlay {
  margin-left: 100px;
  margin-top: 50px;
  width: 40%;
  height: 70vh;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
}

#home .top-wrapper {
  margin-left: 100px;
  margin-top: 50px;
  width: 40%;
  height: 70vh;
  margin-left: -40%;
  z-index: 1;
}

#home .top-wrapper .main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: white;
  padding: 3rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#home .top-wrapper .main-logo i.fas {
  color: yellowgreen;
}

#home .top-wrapper .main-logo p {
  font-size: 3.8rem;
  margin-left: 10px;
}

#home .top-wrapper .main-logo p span {
  color: yellowgreen;
  font-weight: bold;
  font-style: oblique;
}

#home .top-wrapper .text-wrapper {
  padding: 2rem 1rem;
}

#home .top-wrapper .text-wrapper h1 {
  font-size: 3.2rem;
  color: yellowgreen;
}

#home .top-wrapper .text-wrapper p {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0 4.5rem;
}

#home .top-wrapper .text-wrapper button {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  padding: 0.25rem 0.75rem;
  background-color: yellowgreen;
  color: white;
  border: none;
}

#home .top-wrapper .text-wrapper button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cde699;
}

#about .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

#about .top .about-text h1 {
  font-size: 3.5rem;
  color: steelblue;
  font-weight: bold;
  margin-bottom: 2rem;
}

#about .top .about-text h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#about .top .about-text h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#about .top .about-text button {
  padding: 0.25rem 0.75rem;
  background-color: steelblue;
  color: white;
  font-size: 1.2rem;
  border: none;
}

#about .top .about-text button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#about .top img {
  width: 600px;
  height: 400px;
}

#about .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 2rem 0;
  margin-top: 1.5rem;
}

#about .bottom h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

#about .bottom .languages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#about .bottom .languages-wrapper .language {
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
}

#about .bottom .languages-wrapper .language h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

#about .bottom .languages-wrapper .language img {
  width: 60px;
  height: 60px;
}

#features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 20rem;
}

#features h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#features .wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-areas: 'one one one' 'two two three' 'four five five' 'six seven eight';
}

#features .wrapper .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

#features .wrapper .feature:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

#features .wrapper .feature i.fas {
  margin-right: 1rem;
}

#features .wrapper #one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: one;
}

#features .wrapper #two {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: two;
}

#features .wrapper #three {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: three;
}

#features .wrapper #four {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: four;
}

#features .wrapper #five {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: five;
}

#features .wrapper #six {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: six;
}

#features .wrapper #seven {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: seven;
}

#features .wrapper #eight {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: eight;
}

#pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #cde699;
}

#pricing h1 {
  font-size: 3rem;
}

#pricing h3 {
  font-size: 2rem;
}

#pricing .pricing-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
}

#pricing .pricing-wrapper .single-offer {
  background-color: white;
  padding: 2rem;
  width: 300px;
  text-align: left;
}

#pricing .pricing-wrapper .single-offer #starter {
  background-color: yellowgreen;
  width: 300px;
  height: 100px;
  margin-left: -32px;
  margin-top: -32px;
}

#pricing .pricing-wrapper .single-offer #pro {
  background-color: #7ba428;
  width: 300px;
  height: 100px;
  margin-left: -32px;
  margin-top: -32px;
}

#pricing .pricing-wrapper .single-offer #business {
  background-color: #5c7b1e;
  width: 300px;
  height: 100px;
  margin-left: -32px;
  margin-top: -32px;
}

#pricing .pricing-wrapper .single-offer #enterprise {
  background-color: #3e5214;
  width: 300px;
  height: 100px;
  margin-left: -32px;
  margin-top: -32px;
}

#pricing .pricing-wrapper .single-offer h2 {
  font-size: 2.5rem;
  padding: 1rem 0 0.5rem;
}

#pricing .pricing-wrapper .single-offer h5 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

#pricing .pricing-wrapper .single-offer .description {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

#pricing .pricing-wrapper .single-offer .pricing-btn {
  font-size: 1.3rem;
  padding: 0.75rem;
  background-color: white;
  border: 1px solid gray;
  width: 100%;
}

#pricing .pricing-wrapper .single-offer .pricing-btn:hover {
  border: 2px solid black;
  background-color: yellowgreen;
  color: white;
}

#docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 70%;
}

#docs .docs-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#docs .docs-top h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#docs .docs-top p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#docs .docs-top p i.fas {
  margin-right: 5px;
  color: yellowgreen;
}

#docs .docs-top p span {
  color: yellowgreen;
  font-weight: bold;
  font-style: oblique;
}

#docs .docs-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#docs .docs-bottom .docs-left {
  background-color: white;
  padding: 2rem;
  text-align: left;
  border-right: 1px dotted black;
  width: 25%;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#docs .docs-bottom .docs-left h3 {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

#docs .docs-bottom .docs-left ul {
  list-style: none;
}

#docs .docs-bottom .docs-left ul li {
  padding: 0.25rem 0 0.25rem 1rem;
  border-bottom: 1px solid gray;
}

#docs .docs-bottom .docs-left ul li .active {
  color: yellowgreen;
}

#docs .docs-bottom .docs-left ul li a {
  font-size: 1.4rem;
  color: black;
  text-decoration: none;
}

#docs .docs-bottom .docs-right {
  background-color: white;
  margin-left: 3rem;
  padding: 1rem 2rem;
  width: 55%;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  text-align: left;
}

#docs .docs-bottom .docs-right h2 {
  font-size: 2.2rem;
  margin-bottom: 0.75rem;
}

#docs .docs-bottom .docs-right p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

#docs .docs-bottom .docs-right h3 {
  font-size: 1.8rem;
  margin-bottom: 0.75rem;
}

#docs .docs-bottom .docs-right button {
  padding: 0.25rem 1rem;
  background-color: yellowgreen;
  color: white;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#docs .docs-bottom .docs-right button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#docs .docs-bottom .docs-right h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

#docs .docs-bottom .docs-right ul {
  list-style: none;
  margin-bottom: 0.5rem;
}

#docs .docs-bottom .docs-right code,
#docs .docs-bottom .docs-right pre {
  background-color: #333;
  color: white;
  padding: 10px;
}

#support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #cde699;
}

#support .support-top h1 {
  font-size: 3rem;
  margin-bottom: 6rem;
}

#support .support-top h3 {
  font-size: 2.5rem;
  color: steelblue;
  margin-bottom: 0.75rem;
}

#support .support-top p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

#support .support-top button {
  background-color: steelblue;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
}

#support .support-top button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

#support .support-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: left;
}

#support .support-bottom-divs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  background-color: white;
}

#support .support-bottom-divs .icon i.fas {
  font-size: 2.5rem;
  color: yellowgreen;
  margin-right: 20px;
}

#support .support-bottom-divs .text h5 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#support .support-bottom-divs .text p {
  font-size: 1.3rem;
}

#support .support-bottom-divs .text .text-button {
  background-color: yellowgreen;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  margin-top: 1rem;
}

#support .support-bottom-divs .text .text-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  background-color: #9a9a9a;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 7rem;
}

.footer-left .footer-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

.footer-left .footer-logo a i.fas {
  margin-right: 5px;
  color: yellowgreen;
}

.footer-left .footer-logo a h3 {
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
}

.footer-left .footer-logo a h3 span {
  color: yellowgreen;
  font-style: oblique;
  font-weight: bold;
}

.footer-left p {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 1px;
}

.footer-middle ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-middle ul li {
  padding: 1rem 2rem;
}

.footer-middle ul li a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
}

.footer-middle ul li a:hover {
  cursor: pointer;
  color: #e6e6e6;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem 0 7rem;
}

.footer-right i.fab {
  color: white;
  padding: 0 1rem;
  font-size: 2rem;
}

.footer-right i.fab:hover {
  cursor: pointer;
  color: #cccccc;
}

@media (max-width: 1480px) {
  #home .bottom-overlay {
    height: 75vh;
  }
  #home .top-wrapper {
    height: 75vh;
  }
}

@media (max-width: 1220px) {
  nav .logo {
    margin-right: 40px;
  }
  nav .account {
    margin-left: 40px;
  }
  #home .top-wrapper .main-logo {
    padding: 2rem 1rem;
  }
  #about .top .about-text {
    margin-left: 50px;
  }
  #about .top .about-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  #home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home .bottom-overlay {
    width: 60%;
    margin-left: 0;
  }
  #home .top-wrapper {
    width: 60%;
    margin-left: -60%;
  }
  #home .top-wrapper .main-logo {
    padding: 1rem;
  }
  #about .top .about-text {
    font-size: 2.4rem;
  }
  #about .top .about-text h1 {
    font-size: 2.4rem;
  }
  #about .top img {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .logo {
    width: 60%;
    margin-bottom: 1rem;
  }
  nav ul {
    width: 60%;
  }
  nav .account {
    margin-top: 1rem;
    width: 60%;
  }
  nav .account .login {
    width: 47%;
  }
  nav .account .signup {
    width: 47%;
  }
  #home .bottom-overlay {
    margin-top: 180px;
    width: 80%;
    height: 60vh;
  }
  #home .top-wrapper {
    margin-top: 180px;
    width: 80%;
    margin-left: -80%;
    height: 60vh;
  }
  #home .top-wrapper .text-wrapper {
    padding: 0.5rem;
  }
  #home .top-wrapper .text-wrapper h1 {
    font-size: 2.6rem;
  }
  #home .top-wrapper .text-wrapper p {
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  #home .top-wrapper .text-wrapper button {
    font-size: 1.2rem;
  }
  #about {
    height: auto;
  }
  #about .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .top .about-text {
    margin-bottom: 3rem;
    margin-left: 0;
  }
  #about .bottom .languages-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 576px) {
  nav ul {
    width: 80%;
  }
  #about .bottom .languages-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */