@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  background-color: white;
}

nav .logo {
  margin-right: 150px;
}

nav .logo:hover {
  cursor: pointer;
}

nav .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
}

nav .logo a i.fas {
  color: yellowgreen;
}

nav .logo a p {
  font-size: 2.2rem;
  margin-left: 10px;
}

nav .logo a p span {
  color: yellowgreen;
  font-weight: bold;
  font-style: oblique;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: gray;
}

nav ul li a:hover {
  border-bottom: 1px solid yellowgreen;
  color: yellowgreen;
}

nav .account {
  margin-left: 200px;
}

nav .account button {
  font-size: 1.2rem;
  padding: 0.25rem 1rem;
}

nav .account .login {
  border: none;
  background-color: lightgray;
}

nav .account .login:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

nav .account .signup {
  background-color: yellowgreen;
  color: white;
  margin-left: 10px;
  border: none;
}

nav .account .signup:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

body {
  font-family: 'Big Shoulders Stencil Display', cursive;
  background-color: #699bc4;
  /* CSS Smooth Scroll */
  overflow: hidden;
}

body .container {
  /* CSS Smooth Scroll -> width & height must be set or it won't work*/
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body .container section {
  width: 100%;
  height: 100vh;
  text-align: center;
}

body .container #home {
  background-image: url(../img/right.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container #home .bottom-overlay {
  margin-left: 100px;
  margin-top: 50px;
  width: 40%;
  height: 70vh;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
}

body .container #home .top-wrapper {
  margin-left: 100px;
  margin-top: 50px;
  width: 40%;
  height: 70vh;
  margin-left: -40%;
  z-index: 1;
}

body .container #home .top-wrapper .main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: white;
  padding: 3rem 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body .container #home .top-wrapper .main-logo i.fas {
  color: yellowgreen;
}

body .container #home .top-wrapper .main-logo p {
  font-size: 3.8rem;
  margin-left: 10px;
}

body .container #home .top-wrapper .main-logo p span {
  color: yellowgreen;
  font-weight: bold;
  font-style: oblique;
}

body .container #home .top-wrapper .text-wrapper {
  padding: 2rem 1rem;
}

body .container #home .top-wrapper .text-wrapper h1 {
  font-size: 3.2rem;
  color: yellowgreen;
}

body .container #home .top-wrapper .text-wrapper p {
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0 4.5rem;
}

body .container #home .top-wrapper .text-wrapper button {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  padding: 0.25rem 0.75rem;
  background-color: yellowgreen;
  color: white;
  border: none;
}

body .container #home .top-wrapper .text-wrapper button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

body .container #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cde699;
}

body .container #about .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

body .container #about .top .about-text h1 {
  font-size: 3.5rem;
  color: steelblue;
  font-weight: bold;
  margin-bottom: 2rem;
}

body .container #about .top .about-text h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

body .container #about .top .about-text h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

body .container #about .top .about-text button {
  padding: 0.25rem 0.75rem;
  background-color: steelblue;
  color: white;
  font-size: 1.2rem;
  border: none;
}

body .container #about .top .about-text button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

body .container #about .top img {
  width: 600px;
  height: 400px;
}

body .container #about .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 2rem 0;
  margin-top: 1.5rem;
}

body .container #about .bottom h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

body .container #about .bottom .languages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .container #about .bottom .languages-wrapper .language {
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
}

body .container #about .bottom .languages-wrapper .language h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

body .container #about .bottom .languages-wrapper .language img {
  width: 60px;
  height: 60px;
}

body .container #features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 20rem;
}

body .container #features h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

body .container #features .wrapper {
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-areas: 'one one one' 'two two three' 'four five five' 'six seven eight';
}

body .container #features .wrapper .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

body .container #features .wrapper .feature:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

body .container #features .wrapper .feature i.fas {
  margin-right: 1rem;
}

body .container #features .wrapper #one {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: one;
}

body .container #features .wrapper #two {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: two;
}

body .container #features .wrapper #three {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: three;
}

body .container #features .wrapper #four {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: four;
}

body .container #features .wrapper #five {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: five;
}

body .container #features .wrapper #six {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: six;
}

body .container #features .wrapper #seven {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: seven;
}

body .container #features .wrapper #eight {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: eight;
}

body .container #pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #cde699;
}

body .container #pricing h1 {
  font-size: 3.5rem;
}

body .container #pricing h3 {
  font-size: 2rem;
}

body .container #pricing .pricing-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container #pricing .pricing-wrapper .single-offer {
  background-color: white;
  padding: 2rem;
  width: 300px;
  text-align: left;
}

body .container #pricing .pricing-wrapper .single-offer #starter {
  background-color: yellowgreen;
  width: 300px;
  height: 100px;
  margin-left: -32px;
  margin-top: -32px;
}

body .container #pricing .pricing-wrapper .single-offer h2 {
  font-size: 2.5rem;
  padding: 1rem 0 0.5rem;
}

body .container #pricing .pricing-wrapper .single-offer h5 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

body .container #pricing .pricing-wrapper .single-offer .description {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

body .container #pricing .pricing-wrapper .single-offer p {
  font-size: 1.3rem;
  padding: 0.75rem;
  border: 1px solid gray;
}

body .container #pricing .pricing-wrapper .single-offer .active {
  opacity: 1;
}

body .container #pricing .pricing-wrapper .single-offer .disactive {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */