* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-color: yellowgreen;
$secondary-color: steelblue;

body {
  font-family: 'Big Shoulders Stencil Display', cursive;
  background-color: lighten($color: $secondary-color, $amount: 10%);
  /* CSS Smooth Scroll */
  overflow: hidden;

  .container {
    /* CSS Smooth Scroll -> width & height must be set or it won't work*/
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  
    section {
      width: 100%;
      height: 100vh;
      text-align: center;
    }
  }
}