@media (max-width: 1480px) {
  #home {

    .bottom-overlay {
      height: 75vh;
    }

    .top-wrapper {
      height: 75vh;
    }
  }
}

@media (max-width: 1220px) {
  nav {

    .logo {
      margin-right: 40px;
    }

    .account {
      margin-left: 40px;
    }
  }

  #home {

    .top-wrapper {

      .main-logo {
        padding: 2rem 1rem;
      }
    }
  }
}

@media (max-width: 992px) {
  #home {
    justify-content: center;

    .bottom-overlay {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }

    .top-wrapper {
      width: 60%;
      margin-left: -100%;
      

      .main-logo {
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
      width: 60%;
      margin-bottom: 1rem;
    }

    ul {
      width: 60%;
    }

    .account {
      margin-top: 1rem;
      width: 60%;

      .login {
        width: 47%;
      }

      .signup {
        width: 47%;
      }
    }
  }
}

@media (max-width: 576px) {
  nav {

    ul {
      width: 80%;
    }
  }
}
